@model IEnumerable<BookingModel>

 <div class="col-sm-3">

</div>
<form method="post">
<br /><br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Reservation ID
            </th>
            <th>
                Condo Number
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="30%">
                    @obj.bookingId
                </td>
                <td width="30%">
                    @obj.userbookedId
                </td>
                <td width="30%">
                    @obj.dateForBooking
                </td>
                <td width="30%">
                    <div class="w-75 btn-group" role="group">
                        <a class="btn-danger" asp-controller="Booking" asp-action="rmBooking" asp-route-id="@obj.bookingId">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</form>