@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
Guest Information<br />
At R&M Resort we stress the importance of privacy and are committed to adopting high standards for the protection of personal information.<br />

Our policy outlines the type of personal information we collect and receive, the circumstances in which we collect or receive personal information, the policies and procedures we have established outlining its use and storage, and for sharing certain types of personal information in certain limited circumstances, the procedures you should follow if you have any questions or requests in respect of your personal information or our policies and procedures and the person to whom such questions or requests should be directed, and the means by which to communicate with that person.

In this policy, personal information means information about you that is personally identifiable like your name, address, e-mail address or phone number, and that is not otherwise publicly available and is not part of your work identification.

It also includes information on guest preferences and usage, when such information is supplied to or recorded by R&M Resort in the course of transacting business with an individual.

The Privacy Protection Policy does not apply to information regarding R&M Resort corporate customers. However, such information is protected by other Parga R&M Resort policies and practices and through contractual arrangements.

 </p>
