@{}
<h1>@ViewBag.MyString</h1>
<ul class="navbar-collapse collapse d-sm-block-inline-flex flex-sm-row-reverse">
    <li class="nav-item">
        <a class="nav-link text-black-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li>
        <p>@ViewBag.MyString</p>
    </li>
    </ul>