@model IEnumerable<BookingModel>

@{
 
}
<h1>Your Reservations</h1>
<br />
<br /><br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Booking Number
            </th>
            <th>
                Condo Number
            <th>
                Booking Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="30%">
                    @obj.bookingId
                </td>
                <td width="30%">
                    @obj.userbookedId
                </td>
                <td width="30%">
                    @obj.dateForBooking
                </td>
            </tr>
        }
    </tbody>
</table>
     

      