@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BookingModel

<h2>Please Confirm Below: </h2>
<form method="post">
    <ul>
        <li>
            My email is @ViewBag.MyString
        </li>
        <li>
          
                
            <select name="booking" id="booking" asp-for="userbookedId" class="form-control" >
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>                
            </select>

           
        </li>
        <li>
             <label asp-for="dateForBooking"></label>
            <input asp-for="dateForBooking" type="date" id="StartDate" name="StartDate" class="form-control" />
        </li>
         
    </ul>

<a asp-controller="Condo" asp-action="Choose" class="btn btn-secondary" style=" width:300px">Reserve</a>
</form>
 
               <!--        var val = 0;
                   
                    foreach(var obj in Model)                 
                                      
                        <option value="val">obj.condosId</option>
                        val++;
            --> 