@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<CondosModel>
<h1>Please Confirm Below: </h1>
<form method="post">
    <ul>
        <li>
            My email is @ViewBag.MyString
        </li>
        <li>
            <label>The condo I would like to reserve is:</label>
            <div class="box">
                <select name="condoId">
                    @{
                        var val = 0;
                    }
                    @foreach(var obj in Model)                 
                    {                       
                        <option value="@val">@obj.condosId</option>
                        val++;
                    }
                </select>
            </div>
        </li>
        <li>
            <label>Date: </label>
            <input type="date" id="DateOfReservation" name="Date" class="form-control" />
        </li>
    </ul>
<h2>Please Confirm Your Password Below</h2>
<input type="password" asp-area="" asp-controller="Booking" asp-action="hjoz"/>
<button action="submit">Click Me To Post W Please 3Milleh css I am Ugly</button>
</form>