@model IEnumerable<CondosModel>
@{
    ViewData["Title"] = "Index";
}
<h1>Reserve a Condo !</h1>
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      

<form method="get" asp-action="index">
    <div class="input-group">
        <div class="form-outline">
        <input class="form-control" aria-describedby="button-addon1" type="search" placeholder="search for condo locations" value="@ViewData["GetCondoDetails"]" name="search"
        style="width:500px;"/>
    </div>
        <input type="submit" value="Search" class="btn btn-primary" />
      
</div>

</form> 
</div>
 <div class="col-sm-3">


     

<!--<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    --Select Condo Capacity--
  </button>

  <ul class="dropdown-menu" id="dropdownlist">
      
       
    <li><a class="dropdown-item" value="1"> 1</a></li>
    <li><a class="dropdown-item" value="2">2</a></li>
    <li><a class="dropdown-item" value="3">3</a></li>
     <li><a class="dropdown-item" value="4">4</a></li>
      <li><a class="dropdown-item" value="5">5</a></li>
       <li><a class="dropdown-item" value="6">6</a></li>
  </ul>
</div>-->
</div>
        </div>
        </div>
<br /><br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Condo Number
            </th>
            <th>
                Condo Location
            </th>
            <th>
                Condo Capacity
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="30%">
                    @obj.condosId
                </td>
                <td width="30%">
                    @obj.condosLocation
                </td>
                <td width="30%">
                    @obj.condosCapacity
                </td>
            </tr>
        }
    </tbody>
</table>
        <a asp-controller="Booking" asp-action="Choose" class="btn btn-secondary" style=" width:300px">Reserve a Condo</a>

        <!--<script>
        var display, value, dropdownlist;
       window.onload = function () {
           CopyToArrays();
       };
        
       function CopyToArrays() {
           display = new Array();
           value = new Array();
           dropdownlist = document.getElementById("<%=dropdownlist.ClientID %>");
           for (var i = 0; i < dropdownlist.options.length; i++) {
               display[display.length] =dropdownlist.options[i].text;
               value[value.length] = dropdownlist.options[i].value;
           }
       }
           function FilterDropDownList(val) {
              dropdownlist.options.length = 0;
               var newOption = document.createElement("option");
               for (var i = 0; i < display.length; i++)
                   if (display[i].toLowerCase().indexOf(val) != -1) {
                       newOption.text = display[i];
                       newOption.value = value[i];
                       ddlStates.options.add(newOption);
                   }
           }
              </script>-->