@model IEnumerable<CondosModel>
@{
    ViewData["Title"] = "Index";
}
<h1>Reserve a Condo !</h1>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Condo Number
            </th>
            <th>
                Condo Location
            </th>
            <th>
                Condo Capacity
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.condosId
                </td>
                <td width="30">
                    @obj.condosLocation
                </td>
                <td>
                    @obj.condosCapacity
                </td>
            </tr>
        }
    </tbody>
</table>
        <a asp-controller="Condo" asp-action="Choose" class="btn btn-secondary" style=" width:300px">Reserve a Condo</a>
